name: Check Release
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  check_release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Base Setup
        uses: jupyterlab/maintainer-tools/.github/actions/base-setup@v1
      - name: Check Release
        uses: jupyter-server/jupyter_releaser/.github/actions/check-release@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -eux
          jupyter-releaser prep-git
          jupyter-releaser check-links
          jupyter-releaser check-manifest
          jupyter-releaser build-python
          jupyter-releaser build-npm
          jupyter-releaser twine-check
          jupyter-releaser check-release
      - name: Upload Distributions
        uses: actions/upload-artifact@v4
        with:
          name: jb_toc-releaser-dist-${{ github.run_number }}
          path: .jupyter_releaser_checkout/dist
          